//Custom styles.
//valine的textarea背景
.v #veditor {
	background: url(/images/study.gif) no-repeat right bottom;
}

.v .vctrl span:hover {
	color: #3090e4;
}

#lolijump {
    position: fixed;
    bottom: 40px;
    right: 15px;
    width: 60px;
    height: 60px;
    z-index: 98;
}